section.finances-section
  .wrapper
    .finances-section__container
      h2.finances-section__title.font-s-40.font-w-ledger.text-center.text-up.mark-yellow
        | Средние показатели работы <br> одного паба
      .swiper-finances
        .finances-section__cards.swiper-wrapper
          .finances-section__card.text-center.swiper-slide
            .font-s-38.font-w-ledger 2,5 месяца
            .finances-section__line
            .font-s-18 понадобится на запуск
          .finances-section__card.text-center.swiper-slide
            .font-s-38.font-w-ledger 5  440  000 рублей
            .finances-section__line
            .font-s-18 средний размер вложений
          .finances-section__card.text-center.swiper-slide
            .font-s-38.font-w-ledger 35,2%
            .finances-section__line
            .font-s-18 рентабельность по чистой прибыли
          .finances-section__card.text-center.swiper-slide
            .font-s-38.font-w-ledger 8 месяцев
            .finances-section__line
            .font-s-18 средний срок окупаемости
          .finances-section__card.text-center.swiper-slide
            .font-s-38.font-w-ledger 3  135  000 рублей
            .finances-section__line
            .font-s-18 размер ежемесячной выручки
          .finances-section__card.text-center.swiper-slide
            .font-s-38.font-w-ledger 1  100  000 рублей
            .finances-section__line
            .font-s-18 размер ежемесячной прибыли
        .finances-pagination.swiper-progress-finances
      img.finances-section__img(src="images/finances-section-img.jpg" loading="lazy" width="380" height="595" alt="image")
      .finances-section__bottom
        .finances-section__bottom-lines
          .finances-section__bottom-line
          .finances-section__bottom-line
          .finances-section__bottom-line
        .finances-section__bottom-content
          .finances-section__bottom-title.font-s-32.font-w-ledger.mark-yellow Хотите получить детальные <br class="no-br"> расчеты для вашего города <br class="no-br"> и под ваш бюджет?
          .font-s-20 Скачайте финансовую модель «BERNIE'S PUB»
          form.finances-section__form(data-feedback-form)
            input.input.finances-item(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
            input.input.finances-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
            button.btn.finances-item(type="submit") скачать
        .finances-section__bottom-lines
          .finances-section__bottom-line
          .finances-section__bottom-line
          .finances-section__bottom-line

