footer.footer
  .wrapper
    .footer__container
      .footer__left
        .font-w-ledger.font-s-24 Франшиза английского паба
        .footer__privacy.font-w-light.font-s-14
          a(href="#" data-remodal-target="privacy") Политика конфиденциальности
      img.footer__logo(src="images/logo.png" loading="lazy" width="161" height="70" alt="logo")
      .footer__connection
        include ../components/phone-number.pug

