section.presentation-section
  .wrapper
    .presentation-section__container
      img.presentation-section__img-desktop-1(src="images/presentation-section-img-desktop-1.jpg" loading="lazy" width="380" height="637" alt="image")
      img.presentation-section__img-desktop-2(src="images/presentation-section-img-desktop-2.jpg" loading="lazy" width="779" height="308" alt="image")
      img.presentation-section__img-desktop-5(src="images/presentation-section-img-desktop-5.jpg" loading="lazy" width="779" height="308" alt="image")
      h2.presentation-section__title.font-w-ledger.font-s-40.text-up.text-center.mark-yellow
        | Так будет выглядеть 
        br
        | ваш собственный паб
      .swiper-present
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img.img-1(src="images/presentation-section-img1.jpg" loading="lazy" width="380" height="308" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img.img-2(src="images/presentation-section-img2.jpg" loading="lazy" width="380" height="308" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img.img-3(src="images/presentation-section-img3.jpg" loading="lazy" width="380" height="308" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img.img-4(src="images/presentation-section-img4.jpg" loading="lazy" width="380" height="308" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img.img-5(src="images/presentation-section-img5.jpg" loading="lazy" width="380" height="308" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img.img-6(src="images/presentation-section-img6.jpg" loading="lazy" width="380" height="308" alt="image")
        .present-pagination.swiper-progress-present
