section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-ledger.font-s-40.text-up.text-center.mark-yellow
        | Подробнее о схеме запуска
        br
        | нового заведения по франшизе
      .start-section__content.swiper-start
        .start-section__items.swiper-wrapper
          .start-section__item.item-1.swiper-slide
            .font-w-sf-regular.font-s-22 Заключаем договор <br> франшизы
          .start-section__item.item-2.swiper-slide
            .font-w-sf-regular.font-s-22 Согласование проектной <br> документации
          .start-section__item.item-3.swiper-slide
            .font-w-sf-regular.font-s-22 Поиск <br> помещения
          .start-section__item.item-4.swiper-slide
            .font-w-sf-regular.font-s-22 Заключение договора <br> аренды
          .start-section__item.item-5.swiper-slide
            .font-w-sf-regular.font-s-22 Доставка и монтаж <br> оборудования, мебели, <br> приобретение посуды
          .start-section__item.item-6.swiper-slide
            .font-w-sf-regular.font-s-22 Получение разрешений <br> и согласований <br> в госинстанциях
          .start-section__item.item-7.swiper-slide
            .font-w-sf-regular.font-s-22 Поиск <br> персонала
          .start-section__item.item-8.swiper-slide
            .font-w-sf-regular.font-s-22 Ремонт и оформление <br> помещения
          .start-section__item.item-9.swiper-slide
            .font-w-sf-regular.font-s-22 Формирование первичных <br> запасов товара и расходных <br> материалов
          .start-section__item.item-10.swiper-slide
            .font-w-sf-regular.font-s-22 Обучение <br> персонала
          .start-section__item.item-11.swiper-slide
            .font-w-sf-regular.font-s-22 Официальное <br> открытие и <br> старт работы
        .start-pagination.swiper-progress-start
      .start-section__bottom
        .font-w-sf-black.font-s-22 Работаем строго по договору,
        .font-w-sf-regular.font-s-22 в котором описаны наши обязанности <br> и все условия сотрудничества
        button.btn.start-item(data-remodal-target="modal-form-agreement") скачать пример договора
