.header
  &__container
    display: flex
    flex-direction: row
    align-items: center
    justify-content space-between

  &__title,
  &__call-me
    display: none
    +above($breakpoints.sm)
      display: block

  &__logo
    width 130px
    height: auto
    +above($breakpoints.sm)
      width 182px
    +above($breakpoints.md)
      width 212px
    +above($breakpoints.xxl)
      width 242px

  &__connection
    display: flex
    flex-direction: column
    align-items: flex-end
    gap: 8px

  &__call-me
    text-decoration: underline
    cursor pointer