.start-section
  background-color $color-green

  &__container
    position relative
    padding 0 0 20px 0
    +above($breakpoints.sm)
      padding 0 0 50px 0
    +above($breakpoints.md)
      padding 0 0 119px 0
    +above($breakpoints.xxl)
      padding 0 0 140px 0

  &__title
    padding 0 0 20px 0
    +above($breakpoints.sm)
      padding 0 0 40px 0
    +above($breakpoints.md)
      padding 0 0 80px 0
    +above($breakpoints.xxl)
      padding 0 0 95px 0

  &__content
    +above($breakpoints.md)
      background-image: url('../images/start-section-bg.png')
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      height: 400px
      +above($breakpoints.xxl)
        height: 460px

  &__items
    +above($breakpoints.md)
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content flex-start
      padding-left 48px
      column-gap 10px
      row-gap: 45px
    +above($breakpoints.xxl)
      row-gap: 85px
      padding-left 70px

  &__item
    width 280px !important
    padding 20px 15px 20px 15px
    border: 1px solid $color-yellow
    border-radius: 20px
    background-color $color-green
    text-align: center
    height: 105px
    +above($breakpoints.sm)
      width 420px !important
      height: 120px
    +above($breakpoints.md)
      text-align: start
      width 100%
    +above($breakpoints.xxl)
      padding 13px 15px 13px 15px

  &__bottom
    margin 20px auto 0
    width 280px
    padding 20px 15px 20px 15px
    border: 1px solid $color-yellow
    border-radius: 20px
    background-color $color-green
    text-align: center
    +above($breakpoints.sm)
      width 420px
    +above($breakpoints.md)
      margin 0
      position: absolute
      width 370px
      bottom: 0;
      right: -43px;
    +above($breakpoints.xxl)
      bottom: 0;
      right: -5px
      width 467px

.item-1
  +above($breakpoints.md)
    width 212px !important
    height: 100px
  +above($breakpoints.xxl)
    width 262px !important
    height: 96px
.item-2
  +above($breakpoints.md)
    width 257px !important
    height: 100px
  +above($breakpoints.xxl)
    width 285px !important
    height: 96px
.item-3
  +above($breakpoints.md)
    width 137px !important
    height: 100px
  +above($breakpoints.xxl)
    width 156px !important
    height: 96px
.item-4
  +above($breakpoints.md)
    width 234px !important
    height: 100px
  +above($breakpoints.xxl)
    width 277px !important
    height: 96px
.item-5
  +above($breakpoints.md)
    width 249px !important
    height: 122px
  +above($breakpoints.xxl)
    width: 266px !important;
    height: 122px;
.item-6
  +above($breakpoints.md)
    width 263px !important
    height: 122px
  +above($breakpoints.xxl)
    width: 283px !important;
    height: 122px;
.item-7
  +above($breakpoints.md)
    width 122px !important
    height: 122px
  +above($breakpoints.xxl)
    width: 155px !important;
    height: 96px;
.item-8
  +above($breakpoints.md)
    width 209px !important
    height: 122px
  +above($breakpoints.xxl)
    width: 277px !important;
    height: 96px;
.item-9
  +above($breakpoints.md)
    width 284px !important
    height: 122px
  +above($breakpoints.xxl)
    width: 315px !important;
    height: 120px;
.item-10
  +above($breakpoints.md)
    width 122px !important
    height: 122px
  +above($breakpoints.xxl)
    width: 133px !important;
    height: 120px;
.item-11
  +above($breakpoints.md)
    width 153px !important
    height: 122px
  +above($breakpoints.xxl)
    width 168px !important
    height: 120px

.start-item
  margin-top 20px